*{
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
    background-image: url("aboutMe.jpg");
    background-size: cover;
}

body{
    font-size: 100%;
    /* font-family: sans-serif; */
}

div, section, span, ul, li, a, header{
    box-sizing: border-box;
}

/*css reset*/

header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px 50px;
    align-items: center;
    position: fixed;
    z-index: 999;
    /* background-color: #22211f;*/
}

#menu li{
    list-style: none;
    display: inline-block;
    margin: 20px;
}

#menu li a{
    color: #e8ecf3;
    text-decoration: none;
    font-size: 25px;
    background-color: #000000;
    background-blend-mode: soft-light;
    opacity: 0.3;
    border-radius: 25px;
    /* font-weight: bold; */
    display: block; 
    padding-left: 10px;
    padding-right: 10px
    
}

section{
    width: 100%;
    float: left;
    height: 100vh;
    position: relative;
}

#home{
    /* background-color: #94479c; */
    /* background-image: url("backgroundImage.jpg"); */
    /* background-size: cover; */
    font-family: 'Waiting for the Sunrise',cursive;
 }
 
#aboutMe{
   /* background-color: #59405C; */
   /* background-image: url("aboutMe.jpg"); */
   /* background-size: cover; */
   font-family: 'Waiting for the Sunrise',cursive;
   align-items: center;
   display: table;
    /* grid-template-columns: 1fr 1fr;
    grid-gap: 120px;
    border: 2px solid blue;
    gap: 30%; */
    
}

#projects{
     /* background-color: #ED6663; */
     font-family: 'Waiting for the Sunrise',cursive;
}

#connect{
     /* background-color: #B52B65; */
     font-family: 'Waiting for the Sunrise',cursive;
}



#home div{
   color: white;
   top: 50%;
   left: 2%;
   position: relative;
   width: 100%;
   text-align: center;
   font-size: 20px;
}

h1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
}

img {
    border-radius: 4px;
    padding: 5px;
    height: 300px;
    width: 200px;
    display: block;
  margin-left: auto;
  margin-right: auto;
    /* border: 2px solid yellow; */
    margin-top: 20%;
  }

  #text{
    display: table-cell;
     /* border: 2px solid powderblue; */
  }

  #textpara {
    /* border: 2px solid red; */
    margin: 0;
  position: absolute;
  top: 40%;
    padding-top: 10ppx;
    width: 50%;
    left: 40px;
    color: #25282e;
    /* -ms-transform: translateY(-50%);
  transform: translateY(-50%); */
  }

  #MyPic{
    /* border: 2px solid red; */

    width: 50%;
    display: table-cell;
   
   }

   .wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 550px;
    padding-left: 100px;
  }
  
  /* Style the Un-order list by setting its list-style to none */
  .wrapper ul {
    list-style: none;
  }
  
  /* Style the list items inside the UL list, by setting its width, height and line-height 
    and float them to left and set its border and border-radius.
   */
  .wrapper ul li {
    width: 75px;
    height: 75px;
    line-height: 75px;
    margin: 0 10px;
    text-align: center;
    cursor: pointer;
    border-radius: 50%;
    border: 5px solid #D8E2DC;
    float: left;
    transition: all 0.5s ease;
  }
  
  /* Style the icons by setting its color and margin-top value to 20px 
  to align it properly */
  .wrapper ul li .fa {
    color: #D8E2DC;
    margin-top: 20px;
    transition: all 0.5s ease;
  }
  
  /* Now target the specific li classes for styling and use box-shadow effect to border and text-shadow effect
    to icons for glowing effect and use transition property for smooth transition effect. */
  /*github*/
  .wrapper ul li:hover.github {
    border: 5px solid #080808;
    box-shadow: 0 0 15px #0a0a0a;
    transition: all 0.5s ease;
  }
  
  .wrapper ul li:hover .fa-github {
    color: #0a0a0a;
    text-shadow: 0 0 15px #070707;
    transition: all 0.5s ease;
  }
  
  /*twitter*/
  .wrapper ul li:hover.twitter {
    border: 5px solid #00aced;
    box-shadow: 0 0 15px #00aced;
    transition: all 0.5s ease;
  }
  
  .wrapper ul li:hover .fa-twitter {
    color: #00aced;
    text-shadow: 0 0 15px #00aced;
    transition: all 0.5s ease;
  }
  
  /* instagram */
  .wrapper ul li:hover.instagram {
    border: 5px solid #bc2a8d;
    box-shadow: 0 0 15px #bc2a8d;
    transition: all 0.5s ease;
  }
  
  .wrapper ul li:hover .fa-instagram {
    color: #bc2a8d;
    text-shadow: 0 0 15px #bc2a8d;
    transition: all 0.5s ease;
  }
  
 
  /* media queries */
  
  @media screen and (max-width: 640px){
    .wrapper {
        width: 350px;
    }
    .wrapper ul li{
        margin-top: 10px;
    }
    .wrapper ul li.google{
        margin-left: 60px;
    }
  }
  
  
  @media screen and (max-width: 340px){
    .wrapper {
        width: 150px;
    }
    .wrapper ul li{
        margin:15px;
    }
    .wrapper ul li.google{
        margin-left: 15px;
    }
  }






